<%= form_for([:manager, @manager], :html => {:class => "form-horizontal tasi-form"}) do |f| %>
  <% if @manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manager.errors.count, "error") %> prohibited this manager from being saved:</h2>

      <ul>
      <% @manager.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Manager Name", :class => "col-lg-2 col-sm-2 control-label" %>
    <div class="input-group col-lg-8">
      <%= f.text_field :name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Manager Phone", :class => "col-lg-2 col-sm-2 control-label" %>
    <div class="input-group col-lg-8">
      <%= f.text_field :phone, :class => "form-control" , :data => { :mask => "+1 999 999 9999"} %>
      <span class="help-inline">+1 999 999 9999</span>
    </div>
  </div>
  <div class="form-group">
  	<div class="input-group col-lg-6">
      <input type="text" name="user[email]" class="form-control" placeholder="Account Email">
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit "Save", :class => "btn btn-success" %>
    </div>
  </div>
<% end %>

