<% @managers.each do |manager| %>
    <tr>
	    <td><%= manager.manager_name %></td>
	    <td><%= manager.phone %></td>
	    <td><%= manager.creation_date %></td>
	    <td><%= manager.last_login_date %></td>
	    <td><%= link_to ('<i class="fa fa-edit"></i>').html_safe, edit_manager_manager_path(manager), :class=>'edit_link' %></td>
	    <td><%= link_to ('<i class="fa fa-times-circle"></i>').html_safe, destroy_manager_manager_path(manager), :class=>'edit_link', method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
<% end %>