<%= form_for([:manager, @manager], :html => {:class => "form-horizontal tasi-form"}) do |f| %>
  <% if @manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manager.errors.count, "error") %> prohibited this manager from being saved:</h2>

      <ul>
      <% @manager.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="input-group col-lg-3">
      <%= f.text_field :name, :class => "form-control", :placeholder=>"Manager Name" %>
    </div>
    <div class="input-group col-lg-3">
      <%= f.text_field :phone, :class => "form-control", :placeholder=>"Manager Phone", :data => { :mask => "+1 999 999 9999"} %>
      <span class="help-inline">+1 999 999 9999</span>
    </div>
  </div>
  <div class="form-group">
  	<div class="input-group col-lg-6">
      <input type="text" name="user[email]" class="form-control" placeholder="Account Email">
    </div>
    <div class="col-lg-offset-3 col-lg-2">
      <%= f.submit "Create New Manager", :class => "btn btn-success" %>
    </div>
  </div>
<% end %>

