<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-signin"}) do |f| %>

  <h2 class="form-signin-heading">sign in now</h2>

  <div class="login-wrap">

    <%= f.text_field :email, :class => "form-control", :placeholder => "Your email", :autofocus => true %>
  
    <%= f.password_field :password, :class => "form-control", :placeholder => "Your password" %>

    <% if devise_mapping.rememberable? %>
      <label class="checkbox">
        <%= f.check_box :remember_me %> <%= f.label :remember_me %>
        <span class="pull-right">
          <%= link_to "Forgot Password?", new_manager_password_path %>
        </span>
      </label>
    <% end %>

    <%= f.submit "Sign in", :class => "btn btn-lg btn-login btn-block" %>

    <div class="registration">
        Don't have an account yet?
        <%= link_to "Sign up", new_manager_registration_path %>
    </div>
  </div>
<% end %>

