<div class="main-content">
  <div class="container">
  	<div class="row">
  	  <div class="form-content">
  		<div class="signin-form">
  			<h3>Forgot your password?</h3>
				
			<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
			  <%= devise_error_messages! %>
			
			  <i class="fa fa-envelope"></i>
			  <%= f.email_field :email, :autofocus => true, :class=>'form-control input-sm round-input email-input', :placeholder=>'Email' %>
			
			  <div><%= f.submit "Send me a new password", :class=>"btn btn-round input-sm" %></div>
			  	
			  <div class="link"><%= render "devise/shared/links" %></div>
			<% end %>
		</div>
	  </div>
	</div>
  </div>
</div>
