<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), 
  :html => {:class => "form-signin", :method => :post}) do |f| %>
  <h2 class="form-signin-heading">Forgot your password?</h2>

  <div class="login-wrap">
    <%= devise_error_messages! %>

    <%= f.text_field :email, :class => "form-control", :placeholder => "Your email", :autofocus => true %>

    <div><%= f.submit "Reset password", :class => "btn btn-lg btn-login btn-block" %></div>

    <div class="registration">
      Already Registered.
      <%= link_to "Login", new_manager_session_path %>
    </div>

    <div class="registration">
        Don't have an account yet?
        <%= link_to "Sign up", new_manager_registration_path %>
    </div>

  </div>
<% end %>

