<%= form_for([:manager, @manager], :url => manager_profile_path, :method => 'put', :html => {:class => "form-horizontal"}) do |f| %>
  <% if @manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manager.errors.count, "error") %> prohibited this manager from being saved:</h2>

      <ul>
      <% @manager.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Link", :class => "col-lg-2 col-sm-2 control-label" %>
    <div class="col-lg-6">
      <% link = root_path + ['waitlist', @manager.token].join("/") %>
      <h5><%= link_to link, link, :target => "_blank" %></h5>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Name", :class => "col-lg-2 col-sm-2 control-label" %>
    <div class="col-lg-6">
      <%= f.text_field :practice_name, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Phone", :class => "col-lg-2 col-sm-2 control-label" %>
    <div class="col-lg-6">
      <%= f.text_field :practice_phone, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Address", :class => "col-lg-2 col-sm-2 control-label" %>
    <div class="col-lg-6">
      <%= f.text_field :practice_address, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= submit_tag "Submit", :class => "btn btn-default" %>
    </div>
  </div>
<% end %>

