<p id="notice"><%= notice %></p>

<p>
  <b>Token:</b>
  <%= @manager.token %>
</p>

<p>
  <b>Name:</b>
  <%= @manager.name %>
</p>

<p>
  <b>Phone:</b>
  <%= @manager.phone %>
</p>

<%= link_to 'Edit', edit_admin_manager_path(@manager) %> |
<%= link_to 'Back', admin_managers_path %>
